{"model_config": {"in_channels": 36, "conv_channels": 32, "hidden_channels": 32, "n_conv": 2, "n_MLP": 3, "readout": "mean", "dropout": true, "drop_rate": 0.3, "use_mf": "rdkit2d_normalized", "n_mf": 201, "use_bn": true, "parallel": true}, "train_config": {"batch_size": 16, "num_epoch": 500, "learning_rate": 0.001, "weight_decay": 0.0001, "seed": 1022}}