{"model_config": {"in_channels": 36, "conv_channels": 64, "hidden_channels": 128, "n_conv": 3, "n_MLP": 3, "readout": "mean", "dropout": true, "drop_rate": 0.5, "use_mf": "rdkit2d_normalized", "n_mf": 201, "use_bn": true, "parallel": true}, "train_config": {"batch_size": 8, "num_epoch": 1000, "learning_rate": 0.0001, "weight_decay": 0.0001, "seed": 1}}